/Server/nbproject/private/
/Client/nbproject/private/
/Sincronizacao-De-Relogio/nbproject/private/
/Sincronizacao-De-Relogio/build/
/Server/build/
/Server/dist/
/Client/build/
/Client/dist/
/Nova pasta/Client/build/
/Nova pasta/Client/dist/
/Nova pasta/Client/nbproject/private/
/Nova pasta/Server/build/
/Nova pasta/Server/dist/
/Nova pasta/Server/nbproject/private/